<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.myapplication" >
    <uses-permission android:name="android.permission.INTERNET" />
    <!--kkk-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FirstCustomViewActivity" />
        <activity android:name=".activity.FilterPictureActivity"/>
        <activity android:name=".activity.PorterDuffActivity"/>
        <activity android:name=".activity.DisInViewActivity"/>
        <activity android:name=".activity.MaskFilterActivity"/>
        <activity android:name=".activity.ECGViewActivity"/>
        <activity android:name=".activity.ReflectViewActivity"/>
        <activity android:name=".activity.DreamEffectViewActivity"/>
        <activity android:name=".activity.ShaderViewActivity"/>
        <activity android:name=".activity.AnimListActivity"/>
        <activity android:name=".activity.MultiCircleActivity"/>
        <activity android:name=".activity.MeshActivity"
                  android:screenOrientation="landscape"
                  android:theme="@style/Base.ThemeOverlay.AppCompat.ActionBar"/>
        <activity android:name=".activity.MatrixViewActivity" android:screenOrientation="landscape"/>
        <activity
            android:launchMode="singleTop"
            android:name=".activity.StartActivityTest"/>
        <activity android:name=".aidl.mAIDLActivity"/>
        <service android:name=".aidl.ServiceAIDL" android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.AIDLService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
